@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";


@theme {
  /* --color-*: initial;
  --color-red: red;
  --color-blue: blue;
  --color-green: green;
  --color-purple: purple; */
  --gridCol: repeat(auto-fit, minmax(300px, 1fr));
  --text-ng: 40px;
  --spacing-fort: 50px;

  --animate-changeColor: ani 1s linear infinite;

  @keyframes ani {
    10% {
      color: red;
    }

    50% {
      color: blue;
    }
  }
}


/* 
body {
  font-family: "Lato", sans-serif;
} */

.btn {
  @apply text-white px-4 m-2 py-1 rounded-sm;
}

.bx {
  transition: all 2s ease-in 0s;
}


@layer base {
  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-semibold;
  }

  p {
    @apply text-lg;
  }
}

@layer components {
  .card {
    @apply border-[1px] shadow-2xl bg-white p-5;
  }
}

@utility flex-center {
  @apply flex gap-3 justify-center;
}